head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title SEARCH MOVIE
  link(rel='stylesheet' href='/css/style2.css')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap' rel='stylesheet')
// NAV BAR TO HOME PAGE
h1
  a(href='/' style='text-decoration: none;') MOVIE LOOKUP
// TITLE OF MOVIE
// The Rest of the information
div(style='margin: 10px;border: 3px solid white;background-color: rgba(255, 255, 255, 0.31); border-radius: 10px;')
  br
  .Title #{chosen[0].Title}
  br
  .movie_img_Main
    img(src=chosen[0].Poster alt='Movie Name' width='300' height='450' style='border-radius: 10px;display: block;margin-left: auto;margin-right: auto;')
  br
  // STYLE THIS BOI
  .Years Year: #{chosen[0].Year}  ||  Rated: #{chosen[0].Rated}
  br
  .released Year Of Release: #{chosen[0].Released}
  br
  .Years Runtime: #{chosen[0].Runtime} 
  br
  .Plot(style='margin: 10px;')
    em.Nam(style='font-size:xx-large;') PLOT: 
    br
    p #{chosen[0].Plot}
  br
  .Genre(style='margin: 10px;')
    em.Nam(style='font-size:xx-large;') Genre: 
    br
    for a in chosen[0].Genre
      p #{a}  
  br
  .Directors(style='margin: 10px;')
    em.Nam(style='font-size:xx-large;') Director: 
    br
    for a in chosen[0].Director
        a(href='/actors/'+a+' (Director)' style='text-decoration:none;') #{a}
        br  
  br
  .Actors(style='margin: 10px;')
    em.Nam(style='font-size:xx-large;') Actors: 
    br
    for a in chosen[0].Actors
        a(href='/actors/'+a+' (Actor)' style='text-decoration:none;') #{a}
        br 
  br
  .Actors(style='margin: 10px;')
    em.Nam(style='font-size:xx-large;') Writers: 
    br
    for a in chosen[0].Writer
        a(href='/actors/'+a+' (Writer)' style='text-decoration:none;') #{a}
        br
  br
  .Awards(style='margin: 10px;')
    em.Nam(style='font-size:xx-large;') Awards: 
    br
    for a in chosen[0].Awards
        | #{a}
  br
// Let users critique this movie
div(style='margin: 10px; border: 3px solid white; background-color: rgba(255, 255, 255, 0.31); border-radius: 10px;')
  br
  h2.Title Movie Reviews!
  p(style='margin-left:20px') Average review rating for the movie is #{averageRating}
  br

  // Display section for movie reviews
  each review in chosen[0].reviews
    div(style='margin: 10px; border: 1px solid gray; padding: 10px;')
      p Author: #{review.Author}
      p Rating: #{review.Rating}
      p Comment: #{review.Comment}
  br

  // Display section for movie reviews
div(style='margin: 10px; border: 3px solid white; background-color: rgba(255, 255, 255, 0.31); border-radius: 10px;')
    br
    .Title Write a Review?
    br

    // Check if the user is logged in
    if userIsLoggedIn
      // Form for submitting a movie review
      form(id='reviewForm', method='POST', action='/submitReview')
        label(for='reviewInput') Your Review:
        textarea(id='reviewInput' name='reviewText' rows='4' cols='50')
        br
        button(type='submit') Submit Review
    else
      p(style='color: red;margin:20px;') Please log in to submit a review.


// Display movies that have similar attachements to it
h2(style='margin: 10px;') SIMILAR MOVIES BE LIKE  
.similarFilms
  .movie_img
    for a in similar
        a(href='/movies/'+a.Title)
            img(src=a.Poster alt='Movie Name' width='300' height='450' style='border-radius: 10px; margin:10px;')
br

