doctype html
head
  meta(charset='UTF-8')
  title SEARCH MOVIE
  link(rel='stylesheet' href='/css/style.css')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/css/style_profile.css')
// LOGO
h1 PROFILE
// ACTOR LOOKUP
a(href='/actorLookup')
  input.button(type='button' value='LOOKUP CREATOR/ ACTOR/ WRITER/ DIRECTORS')
a(href='/')
  input.button(type='button' value='SEARCH MOVIE')
if loggedIn
  a(href='/logout')
    input.button(type='button' value='LOGOUT')
.name
  p(style='padding-bottom: 10px;') Username: #{username}
  p(style='padding-bottom: 10px;') Password: #{password}
  p(style='padding-bottom: 10px;') UserType: #{userType}
// Viewing History
.history
  .his
    div(style='text-align: center;align-items: center;display: flex;flex-direction: column;')
      p(style='font-size: 40px;padding-top: 23px;') VIEWER HISTORY
      .mov_hist
        - if (movieHist)
          - const movieHistArray = Array.from(movieHist)
          for a in movieHistArray
            .movie_img1
              a(href=`/movies/${a.Title}`)
                img(src=a.Poster alt='img' width='400' height='450' style='border-radius: 10px;')
  div(style='margin: 10px;')
    p USERS WATCH LATER
    .user-input(style='margin-top: 10px;height: 200px;overflow-y: auto;')
      each a in watchLaterList 
        div 
          a(href=`/movies/${a.title}`)
            p #{a.title}
  div(style='margin: 10px;')
    p USERS INPUT HISTORY
    .user-input(style='margin-top: 10px;height: 200px;overflow-y: auto;')
      for a in userinp 
        div 
        | #{a}
      
div
  .location
    p#ip IP ADDRESS: #{ip}
